<body>
  <table class="table table-header-rotated table-striped-column hours-container" id="grid" style="border: 1px solid black">
      
      <tbody>
          {% for record in data %}
              {% for project_key, project_value in record.items() %}
              <tr>
                  <td>{{ project_key }}</td>
                  {% for value in project_value.values() %}
                      <td class="week1" style="border: 1px solid black">{{ value }}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
          {% endfor %}
      </tbody>
  </table>
</body>